/*** BLOG ENTRIES ***/
main {
    display: flex;
    flex-direction: column;
}

article {
    font-size: 30px;
    width: 80vw;
    height: 20vh;
    min-height: 100px;
    margin: 3vh;
    padding: 10px;
    border: solid 3px var(--secondary-light);
    border-radius: 10px;
}

.dark article {
    border: 2px solid var(--secondary-dark)
}

/*** DESKTOP ***/
@media screen and (min-width: 600px) {

}