/*** HEADER ***/
header {
    min-width: 290px;
    justify-content: space-between;
}

h1 {
    font-size: 40px;
    padding: 0px 0px 0px 20px;
}

hr {
    min-width: 330px;
}

/*** BACK BUTTON ***/
.back {
    font-size: 20px;
    color: var(--primary-light);
    background-color: var(--secondary-light);
    position: relative;
    top: -2.5px;
    margin: 0px 16px 0px 0px;
    padding: 7px 10px 7px 12px;
    border: none;
    border-radius: 5px;
}

.dark .back {
    color: var(--primary-dark);
    background-color: var(--secondary-dark);
}

.back:hover {
    background-color: var(--accent5-light);
}

.dark .back:hover {
    background-color: var(--accent3-dark);
}

/*** BLOG ENTRIES ***/
main {
    min-width: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
}

article {
    font-size: 30px;
    height: 200px;
    width: 80vw;
    min-width: 230px;
    margin: 3vh 3vw 3vh 3vw;
    padding: 15px;
    border: solid 3px var(--secondary-light);
    border-radius: 10px;
}

.dark article {
    border: 2px solid var(--secondary-dark);
}

h2 {
    font-size: 30px;
    padding-bottom: 5px;
    margin: 5px 10px 5px 10px;
    border-bottom: 2px solid var(--secondary-light);
}

p {
    font-style: italic;
    margin: 10px 10px 10px 25px;
}

h3 {
    color: var(--accent4-light);
    font-size: 26px;
    position: relative;
    top: 80px;
    margin: 5px 10px 5px 10px;
}

/*** DESKTOP ***/
@media screen and (min-width: 600px) {

}