/*** HEADER ***/
header {
    min-width: 290px;
    justify-content: space-between;
}

h1 {
    font-size: 40px;
    padding: 0px 0px 0px 20px;
}

/*** HORIZONTAL LINES ***/

hr {
    min-width: 330px;
}

/*** BACK BUTTON ***/
.back {
    font-size: 19px;
    color: var(--primary-light);
    background-color: var(--secondary-light);
    position: relative;
    top: -3px;
    margin: 0px 16px 0px 0px;
    padding: 5px 10px 5px 12px;
    border: none;
    border-radius: 5px;
    filter: drop-shadow(gray 1.5px 1.5px 2px);
}

.dark .back {
    color: var(--primary-dark);
    background-color: var(--secondary-dark);
    filter: drop-shadow(black 2px 3px 3px);
}

.back:hover {
    background-color: var(--accent5-light);
}

.dark .back:hover {
    background-color: var(--accent3-dark);
}

/*** BLOG ENTRIES ***/
body {
    min-width: 335px;
}

main {
    min-width: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
}

article {
    font-size: 30px;
    height: auto;
    width: 75vw;
    min-width: 230px;
    margin: 30px 3vw 15px 3vw;
    padding: 15px;
    border: solid 3px var(--secondary-light);
    border-radius: 10px;
    word-break: break-all;
    white-space: normal;
    filter: drop-shadow(gray 0.5px 0.5px 1px);
}

.dark article {
    border: 3px solid var(--secondary-dark);
    filter: drop-shadow(black 2px 3px 3px);
}

article h2 {
    font-weight: bold;
    padding-bottom: 5px;
    margin: 5px 10px 5px 10px;
    border-bottom: 3px solid var(--secondary-light);
}

.dark article h2 {
    border-bottom: 2px solid var(--secondary-dark);
}

article p {
    font-style: italic;
    margin: 15px 10px 15px 25px;
}

article h3 {
    color: var(--accent4-light);
    font-size: 26px;
    margin: 10px 10px 5px 10px;
}

.dark article h3 {
    color: var(--accent3-dark);
}