/* Create variables */
:root {
    /* Light theme */
    --primary-light: #fff;
    --secondary-light: #00386b;
    --secondary-light-clear: #00376b50;;

    /* Dark theme */
    --primary-dark: #002444;


    --primary-dark-clear: #00244475;
    --transparent: #ffffff00;
}

* {
    font-family: 'Times New Roman', serif;
    color: var(--secondary-light);
}

/* Set background, default is light mode */
body {
    background-color: var(--primary-light)
}

/*** HEADER ***/
/* Move toggle to right of page */
header {
    display: flex;
    justify-content: flex-end;
    padding: 16px 20px 16px 16px;
    border: none;
}

/* Remove look of toggle button */
.toggle {    
    text-shadow: 1px 1px 3px var(--primary-dark-clear);
    font-size: 28px;
    background-color: var(--transparent);
    padding: 0px;
    border: none;
}

/* Make toggle button glow when hovered */
.toggle span:hover {
    text-shadow: 1px 1px 2px var(--secondary-light-clear), 0 0 1em var(--secondary-light), 0 0 0.2em var(--secondary-light);
}

/*** HORIZONTAL LINES ***/
hr {
    background-color: var(--secondary-light);
    border: 0px;
}

hr#hl1 {
    margin: 0px 0px 14px 0px;
}

hr#hl2 {
    margin: 14px 0px 0px 0px;
}

/*** MAIN ***/
/* Align main content */
main {
    padding-left: 5vw;
    padding-right: 5vw;
}

/* No vertical lines on mobile */
.vl {
    display: none;  /* Align side by side */
}

/* Hide left gradient on mobile */
.sun-image {
    display: none;
}

/*** RIGHT TEXT ***/
.text {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

/* Add gradient to title of mobile display */
.text .img-cont {
    background: radial-gradient(var(--secondary-light), #00386b, #00417d, #014a8e, #015ab4, #0069e1, #73a5df, var(--primary-light), var(--primary-light), transparent, transparent);
    width: 50vw;
    height: 50vw;
    margin: 16px 0px 16px 0px;
}

/* Set title to be the full screen on mobile */
.img-cont img {
    width: 90vw;
    opacity: 0.5;
    position: absolute;
    right: 4.5%;
}

/* Hide title */
.img-cont h1 {
    display: none;
}

/*** USER INPUT ***/
.text .text-boxes {
    width: 78vw;
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

/* Change width of text boxes */
.text .text-boxes input {
    font-size: 20px;
    width: 76vw;
    height: 30px;
    margin: 0px 0px 10px 0px;
}

/* Change height of content box */
.text .text-boxes textarea#post-content {
    width: 76vw;
    height: 100px;
}

/*** SUBMIT BUTTON ***/
.submit {
    font-size: 20px;
    color: var(--primary-light);
    background-color: var(--secondary-light);
    width: 30vw;
    padding: 5px 0px 5px 0px;
    margin: 0px 10vw 0px 10vw;
    border: none;
    border-radius: 4px;
}

.submit:hover {
    background-color: #015ab4;
}

/*** DESKTOP ***/
@media screen and (min-width: 600px) {
	/* Make display flex on desktop */
    main {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: 3vw;
        padding-right: 3vw;
    }

    /*** VERTICAL LINES ***/
    /* Create vertical lines side by side */
    .vl {
        height: 115%;
        min-height: 600px;
        position: absolute;
        top: 88px;
        left: 49vw;
        display: flex;
    }

    /* Make vertical lines equally separated */
    hr.vertical {
        margin: 0px 7px 0px 7px;
    }

    /*** LEFT GRADIENT ***/
    .sun-image {
        background: radial-gradient(var(--secondary-light), #00386b, #00417d, #014a8e, #015ab4, #0069e1, #73a5df, var(--primary-light), var(--primary-light), transparent, transparent);
        height: 40vw;
        width: 40vw;
        display: block;
        margin: 10px 0px 80px 0px;
        border-radius: 50% 50% 50% 50%;
    }

    /*** RIGHT TEXT ***/
    /* Make text fit left side of screen */
    .text {
        width: 40vw;
    }

    /* Remove gradient background, adjust size */
    .text .img-cont {
        width: 40vw;
        height: 24vw;
        background: var(--primary-light);
        padding: 22px 0px 18px 0px;
    }
    
    /* Increase image opacity */
    .img-cont img {
        width: 40vw;
        opacity: 1;
    }

    /* Adjust width of user input area */
    .text .text-boxes {
        width: 35vw;
        padding-left: 4.5vw;
    }

    /*** USER INPUT ***/
    .text .text-boxes {
        width: 35vw;
    }

    /* Change width of text boxes */
    .text .text-boxes input {
        width: 34vw;
    }

    /* Change height of content box */
    .text .text-boxes textarea#post-content {
        width: 34vw;
    }

    /*** SUBMIT BUTTON ***/
    .submit {
        width: 14vw;
        margin: 0px 10vw 0px 10vw;
    }
}